# Standard
.DS_Store
*.log

# Keep inc/.keepme, ignore rest
inc/*

# No thanks!
node_modules/

# Auto-built files
oxy.lua
oxy.js
oxy.nginx

# Security risk
config.lua

# Ignore modules except admin
modules/*
!modules/admin/