/* Basics
--------------------------------------------------------------*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	position: relative;
}

body {
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	background: url( ../img/top_bg.png ) left -47px repeat-x;
	line-height: 24px;
	font-size: 14px;
	color: #1A1B1B;
	font-family: Arial;
}

img {
	border: none;
}
strong {
	font-family: PTSansBold;
	font-weight: normal;
}

a {
	color: #888;
	text-decoration: none;
	border-bottom: 1px solid #D7D7D7;
	cursor: pointer;
}
a:hover {
	color: #333;
}

h1, h2, h3 {
	font-family: PTSansBold;
	font-weight: normal;
}
h3 {
	font-family: PTSansRegular;
	font-size: 18px;
}
	h2 span {
		font-family: PTSansRegular;
	}
	h3 span.right a {
		font-size: 14px;
		border: none;
	}



/* Text formatting
--------------------------------------------------------------*/
.red {
	color: rgb( 192, 54, 56 );
}
.green {
	color: green;
}
.blue {
	color: rgb( 56, 117, 215 );
}

.hidden {
	display: none !important;
}

small.light {
	color: #999;
}



/* Positioning
--------------------------------------------------------------*/
.fixed {
	position: fixed;
}

.left {
	float: left;
}
.right {
	float: right;
}
.text_right {
	text-align: right;
}

.left_margin {
	margin-left: 1%;
}
.right_margin {
	margin-right: 1%;
}
.top_margin {
	margin-top: 1%;
}
.bottom_margin {
	margin-bottom: 1%;
}

.right_align {
	text-align: right;
}

.block {
	float: left;
	width: 100%;
	font-size: 0;
}
.block .wide {
	font-size: 14px;
}
.block .half, .block .third, .block .twothird, .block .quarter, .block .threequarter {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}
.wide {
	width: 100%;
}
.half {
	width: 49%;
	margin-right: 1%;
}
.half:last-child {
	margin-right: 0;
	margin-left: 1%;
}
.half:first-child:last-child {
	margin: 0;
}
.third {
	width: 32%;
	margin-right: 2%;
}
.third:last-child {
	margin-right: 0;
}
.twothird {
	width: 66%;
	margin-right: 2%;
}
.twothird:last-child {
	margin-right: 0;
}
.quarter {
	width: 24%;
	margin-right: 1.33333333%;
}
.quarter:last-child {
	margin-right: 0;
}
.threequarter {
	width: 74%;
	margin-right: 1.99999999%;
}
.threequarter:last-child {
	margin-right: 0;
	margin-left: 0.66666666%;
}



/* Tables
--------------------------------------------------------------*/
form {
}
	form label {
		font-family: Verdana;
		font-size: 11px;
		text-transform: uppercase;
		color: #666;
		cursor: pointer;
	}
	form input, form textarea, form select {
		display: block;
		width: 100%;
		padding: 5px;
		background: #FFF;
		border: 1px solid #D7D7D7;
		font-size: 14px;
		font-family: Arial;
		outline: none;
		border-radius: 2px;
		margin-bottom: 15px;
	}
	form select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: url( ../img/form/select_arrow.png ) 97% center no-repeat;
		cursor: pointer;
	}
	form textarea {
		width: 100%;
		height: 200px;
	}
	form input:hover, form textarea:hover {
		background: #F9F9F9;
	}
	form select:hover {
		background: #F9F9F9 url( ../img/form/select_arrow.png ) 97% center no-repeat;
	}
	form input:focus, form textarea:focus, form select:focus {
		background: #FFFECC;
		border: 1px solid #A1A1A1;
	}
	form select:focus {
		background: #FFFECC url( ../img/form/select_arrow.png ) 97% center no-repeat;
	}
	form input.disabled {
		background: #FFF;
		opacity: 0.8;
	}
	form button.submit {
		margin-left: 0px;
		padding: 10px;
		cursor: pointer;
	}
	form input.submit, form input[type=submit] {
		cursor: pointer;
	}
	form input.checkbox {
		width: auto;
		display: inline;
	}
	form textarea.short {
		height: 100px;
	}

table {
	width: 100%;
	border-spacing: 0;
}
	table th {
		background: #E7E7E7;
		border-bottom: 1px solid #D7D7D7;
		padding: 5px;
		text-align: left;
	}
		table tr th:first-child {
			border-radius: 2px 0 0 0;
		}
		table tr th:last-child {
			border-radius: 0 2px 0 0;
		}
	table td {
		padding: 5px;
	}
		table tr:hover td {
			background: #F9F9F9;
		}
		table tr.no_hover:hover td {
			background: transparent;
		}
		table tr .header {
			background: #E7E7E7 url( ../img/table/default.gif ) 97% center no-repeat;
		}
		table tr .headerSortUp {
			background-image: url( ../img/table/ascending.gif );
		}
		table tr .headerSortDown {
			background-image: url( ../img/table/descending.gif );
		}



/* Buttons
--------------------------------------------------------------*/
button, .button {
	border: 1px solid #A4A4A4;
	background: #F7F7F7;
	text-shadow: 1px 1px 0px #FFF;
	padding: 2px 5px;
	border-radius: 2px;
	font-weight: normal;
	font-size: 16px;
	font-family: PTSansRegular;
	cursor: pointer;
	margin: 2px 0;
	line-height: 18px;
}
button:hover, .button:hover {
	background: #E7E7E7;
}
button.lightgreen, .button.lightgreen {
	color: #fff;
	background: rgb( 82, 177, 51 );
	border: 1px solid rgb( 52, 147, 21 );
	text-shadow: 1px 1px 1px #000;
}
button.lightgreen:hover, .button.lightgreen:hover  {
	background: rgb( 42, 157, 31 );
}
button.green, .button.green {
	color: #fff;
	background: green;
	text-shadow: 1px 1px 1px #000;
	border: 1px solid #000;
}
button.green:hover, .button.green:hover {
	background: rgb( 02, 97, 01 );
}
button.blue, .button.blue {
	color: #fff;
	background: rgb( 20, 20, 160 );
	text-shadow: 1px 1px 1px #000;
	border: 1px solid #000;
}
button.blue:hover, .button.blue:hover {
	background: rgb( 02, 01, 97 );
}
button.lightblue, .button.lightblue {
	color: #fff;
	background: rgb( 100, 100, 240 );
	text-shadow: 1px 1px 1px #000;
	border: 1px solid #000;
}
button.lightblue:hover, .button.lightblue:hover {
	background: rgb( 70, 70, 220 );
}
button.red, .button.red {
	color: #fff;
	background: rgb( 192, 54, 56 );
	text-shadow: 1px 1px 1px #000;
	border: 1px solid #000;
}
button.red:hover, .button.red:hover {
	background: rgb( 152, 34, 36 );
}
button.black, .button.black {
	color: #fff;
	background: #666;
	border: 1px solid rgb( 0, 0, 0 );
	text-shadow: 1px 1px 1px #000;
}
button.black:hover, .button.black:hover {
	background: #444;
}

button.software {
	text-align: left;
	width: auto;
	float: left;
}
	button.software span.info {
		float: right;
		width: auto;
		font-size: 10px;
		font-family: Verdana;
		line-height: 16px;
		margin-right: 10px;
		margin-left: 20px;
	}

button.admin, .button.admin {
	border: 1px solid rgb( 192, 54, 56 );
}
button.disabled {
	opacity: 0.5;
	cursor: progress;
}
button.big, .button.big {
	width: 120px;
	height: 40px;
}
button.small, .button.small {
	padding: 2px;
	font-size: 12px;
	border: none;
	font-weight: normal;
	text-shadow: none;
}

	h2 span.meta {
		font-size: 14px;
		font-weight: normal;
	}



/* Lists
--------------------------------------------------------------*/
ul.stats {
    clear: both;
    padding: 0;
}
    ul.stats li {
        list-style: none;
        float: left;
        width: 50%;
        padding: 5px 2%;
        margin-left: 0px;
        background: #F7F7F7;
    }



/* Forms
--------------------------------------------------------------*/
form.inline {
	display: inline;
}
	form.inline input, form.inline select {
		display: inline;
		width: auto;
		max-width: 100%;
	}
	form.inline select {
		padding-right: 25px;
	}
	form.inline span.admin {
		margin-top: 4px;
		margin-bottom: 15px;
	}
form.inline.search {
	margin-right: 30px;
}
	form.inline.search button {
		padding: 3px;
		width: 20px;
		height: 24px;
		padding-bottom: 4px;
		margin-left: -28px;
		margin-right: 5px;
		background: transparent;
		border: none;
		cursor: pointer;
		color: #999;
		border-radius: 0;
	}
form.wide {
}
	form.wide input, form.wide select, form.wide textarea {
		padding: 10px;
	}



/* Messages
--------------------------------------------------------------*/
div.message {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 3px;
	margin: 0 0 20px 0;
	border: 1px solid #D7D7D7;
}
div.message.warning {
	background: #FEEFB3;
	border: 1px solid #000;
}
div.message.error {
	background: rgba( 192, 54, 56, 0.9 );
	color: #F7F7F7;
	text-shadow: 1px 1px 1px #000;
	border: 1px solid #000;
}
	div.message.error strong {
		font-weight: normal;
	}
	div.message.error a {
		color: #fff;
		text-shadow: 0px 0px 1px #000;
		border-color: rgb( 152, 4, 6 );
	}
div.message.success {
	background: rgb( 223, 242, 191 );
	text-shadow: 1px 1px 1px #FFF;
	border: 1px solid #000;
}
div.message.info {
	background: rgb( 180, 230, 255 );
	text-shadow: 1px 1px 1px #FFF;
	border: 1px solid #000;
	width: 100%;
}



/* Popinfo
--------------------------------------------------------------*/
a.pop {
	display: block;
	width: auto;
	float: left;
	margin-top: 0px;
	margin-right: 3px;
}
	a.pop span.container {
		display: none;
		position: absolute;
		margin-top: -58px;
		background: #FFFFFF;
		border: 1px solid #D7D7D7;
		border-radius: 2px;
		padding: 5px;
		width: auto;
		height: 45px;
		box-shadow: 0px 0px 5px rgba( 0, 0, 0, 0.1 );
		color: #1A1B1B;
		text-shadow: none;
		white-space: nowrap;
	}
	a.pop:hover span.container {
		display: block;
	}
		a.pop span.container img {
			float: left;
			margin: 0 5px;
		}
		a.pop span.container span.arrow {
			display: block;
			position: absolute;
			width: 80px;
			height: 20px;
			margin-left: -5px;
			background: url( ../img/pop_bottom.png ) 10px 4px no-repeat;
		}
		a.pop span.container strong {
			font-size: 14px;
		}
		a.pop span.container span.meta {
			display: block;
			color: #666;
			margin-top: -3px;
			font-family: Verdana;
			font-size: 11px;
		}



/* Layout
--------------------------------------------------------------*/
div#wrap {
	margin: 0 auto;
	width: 95%;
	max-width: 1500px;
}

div#header {
	float: left;
	width: 100%;
	height: 90px;
	position: relative;
}

ul#nav {
	font-family: PTSansRegular;
	margin: 20px 0 0 0px;
	padding: 0;
	float: left;
	width: 100%;
	position: relative;
	z-index: 10;
	height: 0px;
}
	ul#nav li {
		list-style: none;
		float: left;
		margin-right: 10px;
	}
	ul#nav li.right {
		margin-right: 0px;
		float: right;
	}
	ul#nav li:last-child {
		margin-right: 10px;
	}
	ul#nav li#logo {
		width: 260px;
		height: 66px;
		margin-left: -40px;
		float: left;
		margin-right: 2px;
		margin-top: -20px;
	}
		ul#nav li#logo img {
			margin-top: 0px;
		}

		ul#nav li a, ul#nav li span {
			float: left;
			padding-left: 38px;
			padding-top: 7px;
			font-size: 18px;
			padding-bottom: 0px;
			color: #D1D1D1;
			font-weight: normal;
			border: none;
			background-position: top left;
			background-repeat: no-repeat;
		}
		ul#nav li.right.noimg a, ul#nav li.right.noimg span {
			padding-left: 7px;
		}
		ul#nav li a:hover, ul#nav li.active a {
			color: #F9F9F9;
		}
		ul#nav li.active a {
			background-position: top left;
			padding-bottom: 6px;
		}

		ul#nav li.dashboard a {
			background-image: url( ../img/icons/dashboard.png );
		}
		ul#nav li.dashboard a:hover {
			background-image: url( ../img/icons/dashboard_hover.png );
		}
		ul#nav li.dashboard.active a {
			background-image: url( ../img/icons/dashboard_active.png );
		}

		ul#nav li.profile a {
			background-image: url( ../img/icons/profile.png );
		}
		ul#nav li.profile a:hover {
			background-image: url( ../img/icons/profile_hover.png );
		}
		ul#nav li.profile.active a {
			background-image: url( ../img/icons/profile_active.png );
		}

ul#subnav {
	float: left;
	width: 100%;
	margin: 29px 0 0 0;
	padding: 0;
	font-family: PTSansRegular;
	text-shadow: 1px 1px 0px #FFF;
	font-size: 15px;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
}
	ul#subnav li {
		list-style: none;
		float: left;
		padding: 0;
		margin-top: 1px;
		position: relative;
	}
	ul#subnav li.right {
		float: right;
		margin-right: 0;
	}
	ul#subnav li:nth-child( 2 ) {
		z-index: 1;
	}
	ul#subnav li:nth-child( 3 ) {
		z-index: 2;
	}
	ul#subnav li:nth-child( 4 ) {
		z-index: 3;
	}
	ul#subnav li:nth-child( 5 ) {
		z-index: 4;
	}
		ul#subnav li > a {
			padding: 10px 10px 6px 10px;
			border: none;
			float: left;
		}
		ul#subnav > li:hover > a {
			background: #FFF;
			color: #333;
		}
		ul#subnav li.red a {
			color: rgba( 192, 54, 56, 1 );
		}
		ul#subnav li.active > a {
			color: #1A1B1B;
			font-family: PTSansBold;
			background: #FFF;
		}
		ul#subnav li.active a.red {
			color: rgb( 192, 54, 56 );
		}
		ul#subnav li ul.dropdown {
			position: absolute;
			padding: 3px 0 0 5px;
			margin: 38px 0 0 -6px;
			display: none;
			width: 500px;
			z-index: 99;
			font-size: 14px;
			pointer-events: none;
			cursor: pointer;
		}
		ul#subnav li:hover ul.dropdown {
			display: block;
		}
			ul#subnav li ul li {
				float: none;
			}
				ul#subnav li ul li a {
					padding: 0;
					background: transparent;
					float: none;
				}
				ul#subnav li ul li ul {
					margin: -11px 0 0 -1px;
					float: left;
					pointer-events: all;
					display: inline-block;
					padding: 10px 0 0 0;
					width: auto;
					box-shadow: 0px 5px 10px rgba( 0, 0, 0, 0.1 );
				}
				ul#subnav li ul li:first-child ul {
					margin-left: 0;
				}
					ul#subnav li ul li ul li {
						padding: 0px 10px;
						margin-top: -1px;
						background: #F7F7F7;
						border-left: 1px solid #D7D7D7;
						border-right: 1px solid #D7D7D7;
					}
					ul#subnav li ul li ul li:first-child {
						border-top: 1px solid #D7D7D7;
						padding-top: 7px;
						cursor: default;
					}
					ul#subnav li ul li ul li:last-child {
						border-bottom: 1px solid #D7D7D7;
						padding-bottom: 7px;
					}
	ul#subnav li.search {
		float: left;
		margin-top: 8px;
		margin-left: 5px;
		margin-right: 10px;
	}
		ul#subnav li.search form {
			float: left;
		}
		ul#subnav li.search input {
			border: 1px solid #D7D7D7;
			background: #FFFFFF;
			padding: 2px 4px;
			margin: 0px 0 0 0;
			font-family: PTSansRegular;
			font-size: 14px;
			width: 200px;
			float: left;
			margin-right: -21px;
			border-radius: 2px;
		}
		ul#subnav li.search input:hover {
			border: 1px solid #C7C7C7;
		}
		ul#subnav li.search input:focus {
			border: 1px solid #000;
		}
		ul#subnav li.search button {
			background: transparent;
			border: none;
			font-size: 14px;
			margin: 1px 0 0 0px;
			padding: 3px;
			width: 20px;
			height: 23px;
			float: right;
			background: rgba( 0, 0, 0, 0.1 );
			border-left: 1px solid #D7D7D7;
			cursor: pointer;
			border-radius: 0;
		}

div#search {
	position: absolute;
	top: 90px;
	width: 100%;
	display: none;
	z-index: 1;
}
	div#search ul {
		float: left;
		width: 250px;
		padding: 0;
		margin: 0;
		margin-left: 1px;
		background: #F7F7F7;
		border-top: none;
		box-shadow: 0px 5px 5px rgba( 0, 0, 0, 0.2 );
	}
	div#search ul:first-child {
		margin-left: 0;
	}
		div#search ul li {
			list-style: none;
			border: 1px solid rgb( 215, 215, 215 );
			border-top: none;
			float: left;
			width: 100%;
		}
			div#search ul li.title {
				padding: 5px;
				background: #F7F7F7;
				width: 240px;
				border-left: 1px solid #F7F7F7;
			}
			div#search ul:first-child li.title {
				border-left: 1px solid #D7D7D7;
			}
			div#search ul li a {
				padding: 10px 5px;
				float: left;
				width: 240px;
				border: none;
				background: #FFF;
			}
			div#search ul li a:hover {
				background: rgb( 249, 249, 249 );
			}
			div#search ul li strong {
				display: block;
				line-height: 11px;
				color: #1A1B1B;
			}
			div#search ul li span {
				font-size: 11px;
				font-family: Verdana;
				line-height: 11px;
			}

div#main {
	float: left;
	width: 100%;
	margin: 0 0 0 0;
}
	div#main h3 {
		margin-top: 0;
	}

div#footer {
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 12px;
	padding-top: 20px;
	border-top: 1px solid #F7F7F7;
}



/* Dashboard
--------------------------------------------------------------*/
div#dashboard {
}
	div#dashboard h3 {
		font-weight: normal;
		padding: 8px 5px;
		margin: 0;
	}
		div#dashboard h3 span.right a {
			font-size: 14px;
			border: none;
		}



/* Login page
--------------------------------------------------------------*/
body#login {
	background-image: none;
}
div#login-header, div#login-main {
	margin: 0 auto;
	max-width: 422px;
}
div#login-header {
	width: 100%;
	max-width: 1000000px;
	background: #000;
	height: 200px;
	position: relative;
	border-radius: 3px;
}
	div#login-header div#logo {
		position: absolute;
		top: 158px;
		left: 50%;
		margin-left: -211px;
	}
		div#login-header div#logo a {
			border: none;
		}
div#login-main {
}